* {
  margin: 0;
  padding: 0;
  border: 0;
}

#intro {
  background-color: #f0f0f0;
  padding-bottom: 90px;
}

.img-con {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 60%;
  background-position-x: 2%;
  height: 20vh;
}

#menu-icon {
  width: 25px;
  height: 25px;
  padding: 20px;
}

.welcome-message {
  font-size: 25px;
  color: #ec5242;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 15px;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("./images/h1-b.svg");
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-size: cover;
  background-position-y: center;
  padding: 15px;
}

.label h1 {
  font-size: 40px;
  line-height: 36px;
}

.description {
  width: auto;
  padding: 15px 15px 15px;
  margin-top: 40px;
  background-color: white;
}

.details u {
  padding-left: 13px;
}

.d-d {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 70%;
  line-height: 20px;
  padding-left: 15px;
}

.details {
  padding-left: 15px;
  padding-right: 15px;
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 25px 15px;
}

#logo h2 {
  width: 70%;
}

#logo hr {
  border-radius: 5px;
  background-color: #ec5242;
  width: 45px;
  height: 2px;
  margin: 10px;
}

#logo p {
  width: 90%;
}

#logo img {
  padding: 20px;
  border: 1px solid lightgrey;
  margin-top: 20px;
}

#gatherings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
}

#gatherings hr {
  border-radius: 5px;
  background-color: #ec5242;
  width: 45px;
  height: 2px;
  margin: 10px;
}

#event-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-blend-mode: multiply;
  background-color: #ec5242;
  background-image: url("./images/event-1.jpeg");
  background-size: cover;
  height: 30vh;
  color: white;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#event-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-blend-mode: multiply;
  background-color: #ec5242;
  background-image: url("./images/event-2.jpeg");
  background-size: cover;
  height: 30vh;
  color: white;
  padding: 30px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #414246;
  padding: 20px;
}

footer h3 {
  color: whitesmoke;
}

footer hr {
  border-radius: 5px;
  background-color: #ec5242;
  width: 45px;
  height: 2px;
  margin: 10px;
}

#partner-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.p-img {
  margin-right: 2px;
  margin-bottom: 10px;
  width: 100px;
}

#l-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5vh;
  margin-top: 30px;
}

#l-section {
  font-size: 10px;
}

#l-section img {
  height: 150px;
  width: 150px;
}
/*# sourceMappingURL=about.css.map */